.contact-chat-page {
    border: solid 1px var(--bodyColor);
}
.contact-chat-container {
    background-image: url("../../assets/images/geometry.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
}
.contact-chat-nodata {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-chat-empty-content {
    width: 100%;
    text-align: center;
    font-size: var(--font-sz4);
    color: var(--bg1-color);
}
.contact-chat-no-data-img {
    width: 60%;
}
