.contact-chat-page {
    border: solid 1px var(--bodyColor);
}
.contact-chat-container {
    background-image: url("../../assets/images/geometry.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
}
