.history-estate {
    width: 100%;
    display: inline;
    margin-top: 20px;
}

.history-estate-product-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
}

.history-estate-single-card {
    background: var(--bg6-color);
    -webkit-box-shadow: 0 2px 4px var(--box-shadColor2);
    box-shadow: 0 2px 4px var(--box-shadColor2);
    margin: 10px 12px;
    display: inline-block;
    width: 320px;
}

.history-estate-product-name {
    font-size: var(--font-sz2);
    font-weight: var(--font-w2);
    min-height: 90px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.history-estate-product-address {
    font-weight: var(--font-w9);
    margin-block-start: 0;
    margin-block-end: 10px;
}

.history-estate-icon-address {
    margin-right: 5px;
    font-size: var(--font-sz3);
}

.history-estate-product-info {
    text-align: left;
}

.history-estate-product-fees {
    border-top: 1.5px solid var(--greyText);
    border-bottom: 1.5px solid var(--greyText);
    display: flex;
    justify-content: space-between;
}

.history-estate-product-type {
    display: inline;
    font-size: var(--font-sz2);
    font-weight: var(--font-w2);
    color: var(--textColor);
}

.history-estate-product-price {
    font-size: var(--font-sz4);
    font-weight: bold;
    padding-top: 11px;
    color: var(--blackColor);
}

.history-estate-product-sub {
    padding-top: 11px;
    font-size: var(--font-sz1);
    display: flex;
    justify-content: space-between;
}

.history-estate-pagination {
    text-align: end;
    margin-bottom: 20px;
}
