.sidebar-chat {
    border-right: solid 1px var(--bodyColor);
}
.sidebar-chat-search {
    text-align: center;
}
.siderbar-chat-h1 {
    color: var(--bg1-color);
    font-family: var(--font-fml);
    font-weight: var(--font-w2);
    font-size: var(--font-sz13);
    margin-block-start: 0.5em;
}
.sidebar-chatcard {
    margin-top: 20px;
    border-bottom: 1px solid var(--bg10-color);
    cursor: pointer;
    overflow-y: auto;
    height: auto;
}
.sidebar-chatcard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--icon-color1);
    background-color: var(--white-color);
    border-radius: 10px;
}

.sidebar-chatcard::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white-color);
}

.sidebar-chatcard::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, var(--greyText)),
        color-stop(0.72, var(--whiteColorDeam)),
        color-stop(0.86, var(--inputColor))
    );
}
.sidebar-chatcard-item:hover {
    background-color: var(--silver2-color);
}
.sidebar-chatcard-username {
    margin: 0px 0px;
    font-weight: var(--font-w2);
    font-size: var(--font-sz1);
    color: var(--silver-color);
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sidebar-chatcard-lastmessage {
    margin: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}
.sidebar-chat-input-search .ant-input-search-button {
    background-color: var(--silver2-color);
}

.sidebar-chatcard-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.sidebar-chatcard-infor {
    margin-left: 10px;
}

.sidebar-chatcard-item-avatar {
    text-align: left;
}
.siderbar-chat-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}

.siderbar-chat-title-menu {
    cursor: pointer;
}

.sidebar-chatcard-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.sidebar-chatcard-infor {
    margin-left: 10px;
}

.sidebar-chatcard-item-avatar {
    text-align: left;
}
.siderbar-chat-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}

.siderbar-chat-title-menu {
    cursor: pointer;
}
