.chat-header-text {
    margin-top: 15px;
    margin-left: 5px;
    display: inline-block;
    padding-left: 14px;
}
.chat-header-avatar {
    margin-top: 12px;
}
.chat-header {
    padding: 10px 20px;
    border-bottom: solid 1px var(--bodyColor);
}
.chat-header-title {
    font-size: var(--font-sz19);
    font-family: var(--font-fml);
}

.chat-header-icon-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 18px;
}
.chat-header-icon {
    border: 1px solid var(--inputColor);
    border-radius: 10px;
    background-color: var(--bg11-color);
    padding: 10px;
    margin-right: 12px;
    cursor: pointer;
    color: var(--silver3-color);
    font-size: var(--font-sz40);
    transition: all 0.66s ease;
}
.chat-header-icon .phone {
    color: var(--bg1-color);
}
.chat-header-icon:hover {
    color: var(--blue2--color);
}
