.product-card-single {
    background: var(--bg6-color);
    -webkit-box-shadow: 0 2px 4px var(--box-shadColor2);
    box-shadow: 0 2px 4px var(--box-shadColor2);
    margin: 10px 12px;
    display: inline-block;
    width: 320px;
}

.product-card-name {
    font-size: var(--font-sz7);
    margin-top: -10px;
    width: 100%;
    padding-right: 0px;
    min-height: 80px;
    font-weight: var(--font-w3);
}

.product-card-address {
    font-weight: var(--font-w9);
    margin-top: -10px;
}

.product-card-icon-address {
    margin-right: 5px;
    font-size: var(--font-sz3);
}

.product-card-info {
    text-align: left;
}

.product-card-fees {
    border-top: 1.5px solid var(--greyText);
    border-bottom: 1.5px solid var(--greyText);
    display: flex;
    justify-content: space-between;
}

.product-card-type {
    display: inline;
    font-size: var(--font-sz2);
    font-weight: var(--font-w2);
    color: var(--textColor);
}

.product-card-price {
    font-size: var(--font-sz4);
    font-weight: bold;
    padding: 10px 0;
    color: var(--blackColor);
}

.product-card-img {
    height: 197.55px;
}

.product-card-sub {
    padding-top: 11px;
    font-size: var(--font-sz1);
    display: flex;
    justify-content: space-between;
}
