.product-card-single {
    background: var(--bg6-color);
    -webkit-box-shadow: 0 2px 4px var(--box-shadColor2);
    box-shadow: 0 2px 4px var(--box-shadColor2);
    display: inline-block;
    width: 100%;
}
.product-card-single .ant-card-body {
    padding: 24px 20px;
}
.product-card-name {
    font-size: var(--font-sz2);
    margin-top: -10px;
    margin-bottom: 30px;
    width: 100%;
    padding-right: 0px;
    font-weight: var(--font-w3);
    color: var(--item-selected);
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-card-address {
    font-weight: var(--font-w9);
    margin-top: -10px;
}

.product-card-icon-address {
    margin-right: 5px;
    font-size: var(--font-sz3);
}

.product-card-info {
    text-align: left;
}

.product-card-fees {
    border-top: 1.5px solid var(--greyText);
    border-bottom: 1.5px solid var(--greyText);
    display: flex;
    justify-content: space-between;
}

.product-card-type {
    display: inline;
    font-size: var(--font-sz2);
    font-weight: var(--font-w2);
    color: var(--textColor);
}

.product-card-type > p {
    text-transform: capitalize;
}

.product-card-price {
    font-size: var(--font-sz4);
    font-weight: bold;
    padding: 10px 0;
    color: var(--blackColor);
}

.product-card-img {
    height: 197.55px;
}

.product-card-sub {
    padding-top: 11px;
    font-size: var(--font-sz1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
