.main-chat {
    background-size: cover;
}
#main-chat-conversation {
    padding: 0 50px;
    max-height: 420px;
    height: 420px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main-chat-message-from-other {
    position: relative;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.main-chat-message-from-me {
    align-self: flex-end;
}

.main-chat-message-from-me .main-chat-message-text {
    background-color: var(--blue2--color);
    color: var(--white-color);
}
.main-chat-message-top {
    display: flex;
    align-items: center;
}

.main-chat-message-avatar {
    border-radius: 50%;
    object-fit: cover;
}

.main-chat-message-text {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--silver1-color);
    color: var(--white-color);
    margin-left: 10px;
}
.main-chat-message-time {
    font-size: var(--font-sz1);
}

#main-chat-files-picker {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.main-chat-send-button {
    cursor: pointer;
    border: none;
    background-color: var(--white-color);
    width: 50px;
    height: 40px;
    margin-left: 2px;
    border-radius: 10px;
    box-shadow: var(--gradientColor) 0px 5px 15px;
    transition: all 0.44s ease;
}

.main-chat-message-input {
    border-radius: 8px;
    border: none;
    border-color: var(--silver3-color);
    background-color: var(--bg10-color);
}
.main-chat-message-input :hover {
    border-color: var(--silver3-color);
}

.main-chat-form-message {
    padding: 20px 50px 5px;
    border-top: 1px solid var(--bodyColor);
    background-color: var(--bodyColor);
}
.main-chat-send-icon {
    font-size: var(--font-sz2);
    transform: rotate(320deg);
}
