.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.register-img {
    display: block;
}

.register-img {
    width: 66.666667%;
    height: auto;
}

.register-img > img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.register-title {
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: var(--font-sz7);
    color: var(--white-color);
}

.register-form {
    background-color: var(--white-color);
    width: 100%;
}

.register-form {
    height: 100vh;
}

.register-form {
    display: flex;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.register-form .register-content {
    width: 100%;
}

.ant-form-vertical .ant-form-item-label {
    padding-bottom: 1px;
}

.ant-form-item {
    margin-bottom: 15px;
}

.title-register {
    margin-top: 0.2rem;
    font-size: var(--font-sz4);
    font-weight: var(--font-w2);
    line-height: 1.25;
}

.register-label {
    display: block;
    color: var(--silver1-color);
    font-size: var(--font-sz4);
}

.ant-input {
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
}

.button-register {
    display: block;
    margin-top: 0.8rem;
    background-color: var(--bg2-color);
    color: var(--silver-color);
    font-weight: var(--font-w1);
    width: 100%;
    border-radius: 0.5rem;
    border-color: var(--bg2-color);
}
.button-login {
    display: block;
    margin-top: 1.5rem;
    background-color: var(--bg2-color);
    color: var(--silver-color);
    font-weight: var(--font-w1);
    width: 100%;
    border-radius: 0.5rem;
    border-color: var(--bg2-color);
}

a {
    color: var(--blue2--color);
    font-weight: var(--font-w1);
    text-decoration: none;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.register-login {
    margin: 2rem 0;
}

.register-hr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
