.carousel-product {
    width: 80%;
    margin: 0 auto;
}
.list-img {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.list-img .ant-image-img {
    padding-right: 5px;
    width: 200px;
}
