.row {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row .info-image {
    width: 50%;
    height: 100%;
}

.row .detail-info {
    padding: 0px 20px;
}

.row .detail-info p {
    text-align: left;
    font-style: var(--font-fa1);
    font-size: var(--font-sz7);
}

.row .detail-info .title-news {
    font-weight: var(--font-w1);
    font-size: var(--font-sz6);
}

.row .detail-info .detail1 {
    font-size: var(--font-sz8);
}

.row .detail-info .detail2 {
    text-align: justify;
}

.ant-btn {
    background-color: var(--bg1-color);
    color: var(--white-color);
    border: none;
    border-radius: 0px;
}

.ant-btn > span:hover,
.ant-btn.ant-btn-default:hover {
    color: var(--white-color);
}
