.info-card {
    width: 77%;
    height: 100%;
    margin: 80px auto;
}

.list-estate {
    width: 100%;
    text-align: center;
}

.list-estate .list-estate-card {
    display: flex;
    justify-content: center;

    align-items: center;
}

.info-card-header {
    text-align: center;
    color: var(--bg1-color);
    font-size: var(--font-sz13);
}

.info-card .row-view-btn {
    margin: 30px auto;
}

.info-card .row-view-btn .view-btn {
    width: 150px;
    background-color: var(--bg1-color);
    color: var(--white-color);
}

.view-more {
    text-align: center;
    padding: 20px;
}

.view-more :hover {
    cursor: pointer;
}

.view-btn {
    border: none;
    width: 150px;
    background-color: var(--bg1-color);
    color: var(--white-color);
}

.info-card-area-card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
