.grid {
    width: 100%;
    height: 100%;
    display: block;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    padding: 0 180px;
    height: auto;
    background-color: var(--bg1-color);
}

.col {
    display: block;
    flex: 0 0 16.66667%;
    max-width: 25%;
    padding-left: 22px;
    padding-right: 4px;
}

.footer-logo {
    display: block;
    position: relative;
}

.footer-logo__css {
    width: 60%;
    margin-top: 20px;
}

.footer-from {
    display: inline;
    margin-top: 10px;
    font-size: var(--font-sz1);
    color: var(--white-color);
}

.about {
    margin: 20px 0;
    list-style: none;
}

.about-header {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: bold;
}

.about-info {
    margin-bottom: 8px;
    font-size: var(--font-sz1);
    color: var(--white-color);
}

.about-info a {
    text-decoration: none;
    color: var(--white-color);
}

.about-info:hover {
    font-size: var(--font-sz15);
}

.follow-icon {
    margin-right: 10px;
    color: var(--white-color);
    display: inline-block;
    font-size: 30px;
}

.follow-icon:hover {
    opacity: 0.5;
}
