.search-property {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.ant-layout {
    background-color: var(--white-color);
}

.ant-layout .ant-layout-sider-children {
    height: auto;
    border: 1px solid var(--silver2-color);
    box-shadow: var(--font-sz25) 0px 8px 24px;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
    height: auto;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--silver2-color);
}

.search-property-title {
    font-size: var(--font-sz16);
    font-weight: var(--font-w12);
}

.search-property-menu {
    height: 100%;
    border-right: none;
}
.search-property-hr {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-top: 0.1em solid var(--silver2-color);
}

.search-property-filter {
    text-align: center;
    font-size: var(--font-sz18);
    padding-top: 15px;
    padding-bottom: 20px;
    color: var(--bg1-color);
}

.search-property-icon-filter {
    font-size: var(--font-sz4);
    padding-right: 10px;
}

.ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
    font-size: var(--font-sz16);
}

.search-property-input-location {
    width: 80%;
    margin: 10px 25px;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: var(--white-color);
    width: 100%;
}

.search-property-price {
    display: inline-block;
    width: 40%;
    margin-left: 24px;
    margin-top: 10px;
}

.search-property-input-price {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.search-property-input-facilities {
    width: 90%;
}

.search-property-facilities {
    display: block;
    margin-left: 25px;
}

.search-property-price-title {
    font-size: var(--font-sz11);
}

.ant-checkbox-group {
    display: grid;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-inline-start: 0px;
    margin-top: 10px;
}
.search-property-type-checkbox {
    margin-left: 28px;
    margin-top: 10px;
    font-size: var(--font-sz3);
    color: var(--bg1-color);
}

.search-property-type-radio {
    display: block;
    margin-left: 28px;
    margin-top: 10px;
}

.search-property-header-sort {
    margin-left: 28px;
}

.search-property-sort-title {
    font-size: var(--font-sz3);
    min-width: 40%;
    width: 100%;
}

.search-property-header {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}

.search-result-content {
    padding: 10px;
}
.search-result-content-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.search-result-content-pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-empty-content {
    width: 100%;
    text-align: center;
    font-size: var(--font-sz4);
    color: var(--bg1-color);
}

.search-result-no-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-result-no-data-img {
    width: 60%;
}
